@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
  margin: 0;
  height: 1px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.wrapper {
  padding-left: 70px;
  padding-right: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  justify-content: start;
}

.page-header__logo {
  width: 140px;
  height: 70px;
  margin-right: 28px;
  margin-bottom: -11px;
  z-index: 1;
}

.page-header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.page-navigation__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-navigation__link {
  padding: 20px 16px;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
  text-align: center;
}

.page-navigation__link-current::before {
  position: absolute;
content: "";
left: 16px;
right: 18px;
bottom: 0;
outline: 2px solid #756257;
z-index: 0;
}

.user-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.user-navigation__link {
  position: relative;
  text-decoration: none;
  padding: 22px 13px;
}

.user-navigation__image {
  display: block;
  fill:#000000;
}

.user-navigation__link:hover .user-navigation__image {
  fill: #68A2CA;
}

.user-navigation__link:focus-visible .user-navigation__image {
  outline: none;
  fill: #68A2CA;
}

.user-navigation__link:focus-visible {
  outline: none;
}

.user-navigation__link:active .user-navigation__image {
  opacity: 0.5;
}

.user-navigation__number {
  position: absolute;
  background-color: #7DB54F;
  padding:5px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  top: 15%;
  left: 41%;
}

.user-navigation__button {
  margin-left: 20px;
}

.main-index__hero {
  background-color: #82B3D3;
  background: url("../images/background.svg") no-repeat bottom,
  url("../images/index-background.jpg") no-repeat top;
  background-size: 100% auto;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 76px
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:disabled,
.button:hover:disabled {
  background-color: #E5E5E5;
  cursor:default;
}

.button-brown {
  background-color: #756157;
  padding: 8px 34px;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  outline: none;
  background-color: #615048;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.advantages {
  text-align: center;
  padding-top: 70px;
}

.advantages__heading {
  display: inline-block;
  max-width: 640px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 26px;
}

.advantages__tagline {
  margin-top: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  max-width: 700px;
  display: inline-block;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  background-color:rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages__block {
  background-color: #82B3D3;
  color:#ffffff;
}

.advantages__text {
  max-width: 232px;
  padding: 113px 84px;
}

.advantages__block .advantages__text {
  padding: 102px 85px 89px;
}

.advantages__item-image {
  display: flex;
}

.advantages__item:nth-child(3n+3) {
 background-color: rgba(131, 179, 211, 0.2);
}

.advantages__title {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-bottom: 62px;
  max-width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages__title::after {
  content:"";
  position: absolute;
  left: 58px;
  right: 58px;
  bottom: 32px;
  outline: 2px solid rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.advantages__block .advantages__title::after {
  content:"";
  position: absolute;
  left: 58px;
  right: 58px;
  bottom: 32px;
  outline: 2px solid rgba(255, 255, 255, 0.3);
  z-index: 0;
}

.advantages__description {
  margin: 0;
}

.services {
  text-align: center;
  padding-top: 64px;
}

.services__heading {
  display: inline-block;
  width: 640px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 21px;
}

.services__tagline {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
}

.services__item {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 77px 80px 63px;
  width: 400px;
}

.services__item:nth-child(3n+2) {
  background-color: #ffffff;
}

.services__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 30px;
}

.services__description {
  color: #333333;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.image-housing {
  display: inline-block;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-position: left 13px top 2px;
  width: 100px;
  height: 76px;
}

.image-eat {
  display: inline-block;
  background-image: url("../images/food.svg");
  background-repeat:no-repeat;
  background-position: left 12px top 4px;
  width: 98px;
  height: 76px;
}

.image-souvenirs {
  display: inline-block;
  background-image: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
}

.search__heading {
  display: inline-block;
  max-width: 640px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.search__tagline {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
}

.main-index__search {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search__tagline {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.search__button {
  padding: 15px 51px;
  font-size: 20px;
}

.main-index__mailing {
  padding-top: 97px;
  padding-bottom: 104px;
  background-color: #68A2CA;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:#ffffff;
  text-align: center;
}

.mailing__form {
  display: flex;
  justify-content: center;
}

.mailing__heading {
  display: inline-block;
  width: 640px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 21px;
}

.mailing__tagline {
  width: 470px;
  margin: 0 auto;
  margin-bottom: 53px;
  font-size: 22px;
  line-height: 26px;
}

.mailing__mail {
  width: 328px;
  display: flex;
  align-items: center;
  padding: 14px 18px 10px;
  padding-right: 100px;
  border: solid 3px transparent;
  font-size: 17px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
}

.mailing__mail:focus:not(:placeholder-shown) {
  background-color: #F2F2F2;
  color: #000000;
  border-color: #000000;
}

.mailing__mail:empty {
background-color: #F2F2F2;
border-color: transparent;
}

.mailing__mail:hover {
  background-color: #E6E6E6;
}

.mailing__mail:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}

.mailing__button {
  border-radius: 0 4px 4px 0;
  font-size: 20px;
}

.button-blue {
  padding: 8px 50px;
  background-color: #82B3D3;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  outline: none;
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
}

.socials__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.socials__link {
  padding: 13px;
}

.socials__icon {
  text-decoration: none;
}

.page-footer__phone {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color:#000000;
}

.catalog__wrapper {
  padding-top: 33px;
}

.catalog__heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}
.catalog__title {
  text-align: left;
  margin-bottom: 0;
}

.catalog__filter {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  background-color: #68A2CA;
  background-image: url("..//images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:#ffffff;
}

.catalog__breadcrumbs {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 40px;
}

.breadcrumbs__item {
  margin-right: 10px;
  display: flex;
}

.breadcrumbs__item:not(:last-child):after {
  content: "";
  background: url("../images/breadcrumbs.svg") no-repeat;
  width: 8px;
  height: 20px;
  fill: #ffffff;
  margin-left: 10px;
}

.breadcrumbs__svg {
  fill: #ffffff;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__icon {
  text-decoration: none;
}

.breadcrumbs__icon:hover .breadcrumbs__svg{
  fill:  rgba(255, 255, 255, 0.6);
}

.breadcrumbs__icon:active .breadcrumbs__svg {
  fill: rgba(255, 255, 255, 0.3);
}

.filter__form {
  display: flex;
  justify-content: space-between;
  column-gap: 70px;
}

.filter__group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter__control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.filter__price {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  row-gap: 43px;
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  row-gap: 30px;
}

.filter__title {
  padding-left: 0;
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.filter__item {
  margin-bottom: 19px;
}

.filter__item:nth-last-child(1) {
  margin-bottom: 0;
}

.filter__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  border: 3px solid transparent;
  border-radius: 4px;
}

.filter__control:hover {
  opacity: 0.6;
}

.filter__control:focus{
  border: 3px solid #83B3D3;
}

.filter__control:active {
  opacity: 0.2;
}

.filter__control [type="checkbox"]:checked + .filter__control-mark::before {
position: absolute;
content:"";
background: url("../images/check.svg") no-repeat;
top: -2px;
left: -1px;
fill: #000000;
width: 20px;
height: 20px;
}

.filter__control [type="radio"] + .filter__control-mark {
  border-radius: 50%;
}

.filter__control [type="radio"]:checked + .filter__control-mark::before {
  position: absolute;
  content:"";
  top: 2px;
  left: 2px;
  width: 13px;
  height: 13px;
  background-color: #3F5E72;
  border-radius: 50%;
}

.filter__control-input:focus + .filter__control-mark {
  border: 3px solid #83B3D3;
}

.filter__control-value {
  position: relative;
}

.filter__control-text {
  position:absolute;
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  right: 20px;
  top: 13px;
}

.filter__wrapper {
  display: flex;
  gap: 2px;
}

.input-text::-webkit-outer-spin-button,
.input-text::-webkit-inner-spin-button {
  appearance: none;
}

.input-text {
  display: block;
  width: 143px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 17px;
  padding-right: 27px;
  border: 3px solid transparent;
  outline: none;
	appearance: textfield;
}

.input-text:hover {
  background-color: #E6E6E6;
}

.input-text:focus:not(:placeholder-shown) {
  background-color: #F2F2F2;
  color: #000000;
  border-color: #000000;
}

.input-text:focus {
  outline: none;
  border: 3px solid #83B3D3;
}

.range__scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range__bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range__button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid 3px transparent;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.range__button:hover,
.range__button:focus,
.range__button:active {
  outline: none;
  border-color: #83B3D3;
}

.range__button--min {
  top: -8px;
  left: 0;
}

.range__button--max {
  top: -8px;
  right: 0;
}

.filter__control-min {
  border-radius: 4px 0 0 4px;
}

.filter__control-max {
  border-radius: 0 4px 4px 0;
}

.filter__button-reset {
  box-sizing: border-box;
  border: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0);
  padding: 8px 50px;
}

.filter__button-reset:hover {
  color: rgba(255, 255, 255, 0.5);
}

.filter__button-reset:focus {
  outline: none;
  color: #FFFFFF;
  border: 3px solid #83B3D3;
}

.filter__button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid transparent;
}

.filter__button-reset:disabled,
.filter__button-reset:hover:disabled {
  color: rgba(255, 255, 255, 0.1);
  background-color: transparent;
  cursor:default;
}

.catalog__results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.catalog__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.found__select {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}

.found__select-control {
  border: 2px solid #E5E5E5;
  box-sizing:border-box;
  color:#333333;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  width: 100%;
  appearance: none;
  padding: 12px 20px;
  padding-right: 40px;
  background: url("..//images/select.svg") no-repeat right 20px center;
}

.found__select-control:hover {
  border-color: #68A2CA;
}

.found__select-control:focus:not(:placeholder-shown) {
  background-color: #F2F2F2;
  color: #000000;
  border-color: #3F5E72;
}

.found__select-control:focus {
  outline: none;
  border-color: #68A2CA;
}

.found__select-control:disabled,
.found__select-control:hover:disabled {
  cursor:default;
  color:#000000;
  border-color:#000000;
  opacity: 0.3;
}

.found__view {
  list-style: none;
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

.view__link {
  display: flex;
  text-transform: none;
  padding: 15px 15px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view__link-current {
  border: 2px solid #000000;
}

.view__item {
  margin-right: 8px;
}

.view__link:focus  {
  border: 2px solid #68A2CA;
  outline: none;
}

.view__item:hover .view__link {
  border: 2px solid #000000;
}

.view__item:nth-last-child(1) {
  margin-right: 0;
}

.catalog__list-placement {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  border-bottom: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.catalog__item-cart {
  min-height: 398px;
  padding: 19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.catalog__item-image {
 width: 100%;
 margin-bottom: 13px;
}

.catalog__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.catalog__cart-link {
  text-decoration: none;
  color:#000000;
}

.catalog__price {
  color: #333333;
  display: flex;
  justify-content: space-between;
}

.catalog__item-name {
  margin: 0;
}

.catalog__item-price {
  margin: 0;
}

.catalog__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;

}

.catalog__item-button {
  padding: 9px 26px;
}

.catalog__item-favorite {
  padding: 8px 20px;
}

.catalog__item-selected {
  padding: 8px 17px;
  background-color: #7DB54F;
}

.catalog__item-selected:hover {
  background-color: #6C9E42;
}

.catalog__item-selected:focus {
  background-color: #6C9E42;
  outline: none;
}

.catalog__rate {
  display: flex;
  justify-content: space-between;
}

.catalog__rating {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  color: #333333;
}

.catalog__item-stars {
  display: flex;
  align-items: center;
  margin: 0;
}

.star {
  margin-right: 6px;
  background: url("../images/star.png") no-repeat;
  width: 18px;
  height: 17px;
}

.paganation {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}

.paganation__item {
  margin-right: 8px;
}

.paganation__item:nth-last-child(1) {
  margin-right: 0;
}

.paganation__link {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  min-width: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.paganation__link--transporent {
  background-color: transparent;
  color:#000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 17px;
}

.paganation__link:hover {
  background-color: #68A2CA;
}

.paganation__link:focus {
  outline: none;
  background-color: #68A2CA
}

.paganation__link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.paganation__link--current,
.paganation__link--current:focus,
.paganation__link--current:hover {
  background-color: #F2F2F2;
  color: #000000;
}

.catalog__mailing {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.socials__link {
  display: flex;
}

.socials__svg {
  fill: #83B3D3;
}

.socials__svg:hover {
  fill: #68A2CA;
}

.socials__svg:active {
  fill: rgba(104, 162, 202, 0.3);
}

.socials__link:focus .socials__svg {
  fill: #68A2CA;
}

.socials__link:focus {
  outline: none;
}

.page-footer__phone {
  color:#000000;
}

.page-footer__phone:hover {
  color:#756157;
}

.page-footer__phone:focus {
  color:#756157;
  outline: none;
}

.page-footer__phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer__developer {
  fill:#000000;
  display: flex;
}

.page-footer__developer:hover{
  fill:#756157;
}

.page-footer__developer:focus{
  fill:#756157;
  outline: none;
}

.page-footer__developer:active{
  fill: rgba(117, 97, 87, 0.3);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-close {
  display: none;
}

.modal__content {
  padding: 72px 70px 62px;
  position: relative;
  margin: auto;
  width: 717px;
  box-sizing:border-box;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal__button-close {
  position: absolute;
  top: 64px;
  right: 52px;
  border: 3px solid transparent;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color:  #F2F2F2;
}

.modal__close-icon {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 17px;
  height: 17px;
}

.modal__close-svg {
  fill:#000000;
}

.modal__close:hover {
  background-color: #E6E6E6;
}

.modal__close:focus {
 border-color: #83B3D3;
 outline: none;
}

.modal__close:active{
  border-color: transparent;
}

.modal__close:active .modal__close-svg {
  opacity: 0.3;
}

.modal__heading {
  margin-top: 0;
  margin-bottom: 71px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.modal__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 48px;
  column-gap: 88px;
}

.modal__title {
  flex-shrink: 0;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__group--full {
  grid-column: 1 / -1 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__group-wrapper {
  position: relative;
}

.modal__data {
  display: block;
  width: 440px;
  padding: 13px 20px 8px;
  margin-left: auto;
  border: 3px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.modal__data:focus:not(:placeholder-shown) {
  background-color: #F2F2F2;
  color: #000000;
  border-color: #000000;
}

.modal__data:hover {
  background-color: #E6E6E6;
}

.modal__data:focus {
    border-color:#68A2CA;
}

.modal__image {
  position: absolute;
  background: url("../images/mailing.svg") no-repeat;
  width: 20px;
  height: 20px;
  top: 16px;
  right: 40px;
}

.modal__message {
  position: absolute;
  left: 20px;
  top: 100%;
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.modal__message--mistake {
  color: #FF5757;
}

.modal__group-big {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  gap: 46px;
}

.modal__group-child {
  grid-column: 2 / -2;
  position: relative;
  display: flex;
  align-items: center;
}

.modal__group-quantity {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.modal__quantity::-webkit-outer-spin-button,
.modal__quantity::-webkit-inner-spin-button {
  appearance: none;
}

.modal__quantity {
  width: 31px;
  height: 48px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 8px;
  background-color: #F2F2F2;
  border: 3px solid transparent;
  box-sizing: border-box;
  appearance: textfield;
}

.modal__button-quantity {
  width: 40px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
}

.modal__icon {
  fill: rgba(117, 97, 87, 0.3);
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 3px;
}

.modal__button-quantity:focus {
  outline: none;
}

.modal__button-quantity:hover .modal__icon {
  fill: #000000;
  border: 3px solid transparent;
}

.modal__button-quantity:focus .modal__icon {
  fill :#000000;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.modal__button-quantity:active .modal__icon {
  fill: rgba(117, 97, 87, 0.3);
  border-color: transparent;
}

.modal__tooltip {
  position: absolute;
  top: 10px;
  left: 58px;
}

.modal__title--child {
  position: relative;
}

.modal__tooltipe-button {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.modal__tooltipe-svg {
  display: flex;
}

.modal__tooltip-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  box-sizing: border-box;
  padding: 22px 17px 21px 22px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  text-align: left;
  color:  #FFFFFF;
  width: 256px;
  display: none;
}

.modal__tooltip-text::after {
  content:'';
  background-image: url("../images/tooltipe-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  top: -9px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.modal__tooltipe-button:hover .modal__tooltip-text,
.modal__tooltipe-button:focus .modal__tooltip-text {
  display: block;
}

.modal__button-search {
  grid-column: 1 / -1;
  border-radius: 10px;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  font-size: 18px;
}
