@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {

  margin: 0;
  height: 1px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;

}
.wrapper {
  padding-left: 70px;
  padding-right: 70px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  display: flex;
  justify-content: start;

}
.page-header__logo {
  width: 140px;
  height: 70px;
  margin-right: 20px;
}

.page-header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

}



.page-navigation__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}
.page-navigation__item {
  padding: 20px 16px;
  position: relative;
}
.page-navigation__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
  text-align: center;
}

.page-navigation__link-current::before {
  position: absolute;
content: "";
left: 16px;
right: 16px;
bottom: 0;
outline: 2px solid #756257;
z-index: 1;

}
.user-navigation {
  display: flex;
  align-items: center;

}
.icon {
  position: relative;

  text-decoration: none;
  padding: 22px 12px;
}
.icon__svg {
  display: block;
  fill:#000000;
}
.icon:hover .icon__svg {
  fill: #68A2CA;
}
.icon:focus-visible .icon__svg {
  outline: none;
  fill: #68A2CA;
}
.icon:focus-visible{
  outline: none;
}
.icon:active .icon__svg {
  opacity: 0.5;
}

.icon__buble {
  position: absolute;
  background-color: #7DB54F;
  padding:5px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  top: 20%;
  left: 50%;
}
.user-navigation__button {
  margin-left: 12px;
}
.main-index__hero {
  background-color: #82B3D3;
  background: url(../images/background.svg) no-repeat bottom,

url(../images/index-background.jpg) no-repeat top;

background-size: 100% auto;
text-align: center;
padding-top: 50px;
padding-bottom: 80px;

}
.main-container {
  flex-grow: 1;
}
.button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
  display: inline-block;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.button-brown {

  background-color: #756157;
  padding: 8px 34px;

}
.button-brown:hover {
  background-color: #615048;
}
.button-brown:focus {
  outline: none;
  background-color: #615048;
}
.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;

}
.main-heading {
  display: inline-block;
  width: 515px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;


}
.main-tagline {
  margin-top: 0;
  margin-bottom: 69px;
  font-size: 22px;
  line-height: 26px;
}
.advantage {
  text-align: center;
  padding-top: 70px;
}
.advantage__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;


}
.advantage__item {
  background-color:rgba(131, 179, 211, 0.12);
  color: #333333;
}



.advantage__block {
  background-color: #82B3D3;
  color:#ffffff;
}

.advantage__text {
  max-width: 230px;
  padding: 102px 85px;

}

.advantage__item-image {
  display: flex;
}

.advantage__item:nth-child(3n+3) {
 background-color: rgba(131, 179, 211, 0.2);
}
.advantage__title {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-bottom: 62px;
  max-width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantage__title::after {
  content:"";
  position: absolute;
  left: 57px;
  right: 57px;
  bottom: 31px;
  outline: 2px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.advantage__block .advantage__title::after {
  content:"";
  position: absolute;
  left: 57px;
  right: 57px;
  bottom: 31px;
  outline: 2px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.advantage__description {
  margin: 0;
}
.services {
  text-align: center;
  padding-top: 64px;

}
.services__item {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 81px 85px;
}
.services__item:nth-child(3n+2) {
  background-color: #ffffff;
}

.services__image {
  margin-bottom: 30px;
}

.services__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;

}
.services__description {
  color: #333333;
}
.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.image-housing {
  display: inline-block;
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}
.image-eat {
  display: inline-block;
  background-image: url(../images/food.svg);
  background-repeat:no-repeat;
  width: 74px;
  height: 70px;
}
.image-souvenirs {
  display: inline-block;
  background-image: url(../images/souvenirs.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
}
.main-index__search {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}
.search__tagline {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 62px;
}

.search__button {
  padding: 8px 50px;
}
.main-index__mailing {
  padding-top: 96px;
  padding-bottom: 104px;
  background-color: #68A2CA;
  background-image: url(../images/Subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color:#ffffff;
  text-align: center;
}
.mailing__form {
  display: flex;
  justify-content: center;

}
.mailing__tagline {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}
.mailing__mail {

  width: 452px;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  padding-right: 100px;
  border: solid 3px transparent;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
}
.mailing__field {
  position: relative;
}
.mailing__image{
  position: absolute;
  background: url(../images/mailing.svg) no-repeat;
  width: 20px;
  height: 20px;
  top: 16px;
  right: 17px;

}




.mailing__mail:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}


.mailing__mail:focus:not(:placeholder-shown) {
  background-color: #F2F2F2;
  color: #000000;
  border-color: #000000;
}
.mailing__mail:empty {
background-color: #F2F2F2;
border-color: transparent;
}
.mailing__mail:hover {
  background-color: #E6E6E6;
}


.mailing__button {
  border-radius: 0 4px 4px 0;
}
.button-blue {
  padding: 8px 50px;

  background-color: #82B3D3;


}
.button-blue:hover {
  background-color: #68A2CA;
}
.button-blue:focus {
  outline: none;
  background-color: #68A2CA;

}
.button-blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}
.socials__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

}
.socials__link {
  padding: 12px;
}
.socials__icon {
  text-decoration: none;

}


.page-footer__phone {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color:#000000;
}
.catalog__wrapper {
  padding-top: 35px;
}

.catalog__heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}
.catalog__title {
  text-align: left;
  margin-bottom: 0;
}
.catalog__filter {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;

  background-color: #68A2CA;
  background-image: url(..//images/filter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:#ffffff;

}
.catalog__breadcrumbs {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;

  list-style: none;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 40px;
}
.breadcrumbs__item {
  margin-right: 10px;
  display: flex;
}
.breadcrumbs__item:not(:last-child):after {
  content: url(../images/breadcrumbs.svg);
  margin-left: 10px;


}


.breadcrumbs__svg {
  fill: #ffffff;

}

.breadcrumbs__item:last-child {
  margin-right: 0;
}
.breadcrumbs__icon {
  text-decoration: none;

}


.breadcrumbs__icon:hover .breadcrumbs__svg{
  fill:  rgba(255, 255, 255, 0.6);
}

.breadcrumbs__icon:active .breadcrumbs__svg {
  fill: rgba(255, 255, 255, 0.3);
}
.filter__form {
  display: flex;
  justify-content: space-between;
  column-gap: 70px;

}
.filter__group {
  border: none;
  padding: 0;
  margin: 0;
}
.filter__control {
  display: flex;
  position: relative;
}
.filter__price {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  row-gap: 36px;
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  row-gap: 32px;
}

.filter__title {
  padding-left: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.filter__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.filter__item {
  margin-bottom: 16px;
}
.filter__item:nth-last-child(1) {
  margin-bottom: 0;
}
.filter__control {
  position: relative;
  display: block;
  padding-left: 36px;
}
.filter__control-input {
  outline: none;
}
.filter__control-mark {
  position: absolute;
  top: -3px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 3px solid transparent;
  border-radius: 4px;
}
.filter__control:hover {
  opacity: 0.6;

}
.filter__control [type="checkbox"]:checked + .filter__control-mark::after {
position: absolute;
content:url(../images/check.svg);
width: 12px;
height: 10px;
}

.filter__control-text {
  position:absolute;
  color: rgba(0, 0, 0, 0.3);
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  right: 20px;
  top: 13px;

}


.filter__control:focus {

}
.filter__control:active {
  opacity: 0.2;
}
.filter__wrapper {
  display: flex;
  gap: 2px;
}

.input-text {
  display: block;
  width: 143px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  padding-right: 27px;
  border: 3px solid transparent;
  outline: none;
	appearance: textfield;
}
.input-text::-webkit-outer-spin-button,
.input-text::-webkit-inner-spin-button,

.input-text:hover {
  background-color: #E6E6E6;
}
.input-text:active {
  background-color:#F2F2F2;
  outline: none;
  border: 3px solid #83B3D3;
}



.range__scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}
.range__bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.range__button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid 3px transparent;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.range__button:hover,
.range__button:focus,
.range__button:active {
  border-color: #83B3D3;
}

.range__button--min {
  top: -8px;
  left: 0;
}.range__button--max {
  top: -8px;
  right: 0;

}

.filter__control-min {
  border-radius: 4px 0 0 4px;
}
.filter__control-max {
  border-radius: 0 4px 4px 0;
}
.filter__button-reset {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  padding: 8px 50px;

}
.filter__button-reset:hover {
  color: rgba(255, 255, 255, 0.5);
}
.filter__button-reset:focus {
  outline: none;
  color: #FFFFFF;
  border: 3px solid #83B3D3;
}
.filter__button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}
.catalog__results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

}
.found__select {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}
.found__select-control {
  border: 2px solid #E5E5E5;
  box-sizing:border-box;
  color:#333333;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  width: 100%;
  appearance: none;
  padding: 12px 20px;
  padding-right: 40px;
  background: url(..//images/select.svg) no-repeat right 20px center;


}
.found__select-control:hover {
  border-color: #68A2CA;
  }
.found__select-control:focus {
  outline: none;
  border-color: #68A2CA;
}

.found__select-control:focus:not(:placeholder-shown) {
  background-color: #F2F2F2;
  color: #000000;
  border-color: #000000;
}
.found__select-control:active {
  border-color: #3F5E72;
}

.found__view {
  list-style: none;
  display: flex;
  margin-left: 0;
  padding-left: 0;
}
.view__link {
  display: flex;
  text-transform: none;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.view__link-current {
  border: 2px solid #000000;

}
.view__item {
  margin-right: 8px;

}

.view__link:focus  {
  border: 2px solid #68A2CA;
  outline: none;
}
.view__item:hover .view__link {
  border: 2px solid #000000;
}
.view__item:nth-last-child(1) {
  margin-right: 0;
}
.catalog__list-placement {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  border-bottom: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}
.catalog__item-cart {
  min-height: 398px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  gap: 16px;
}
.catalog__item-image {
 width: 100%;
 margin-bottom: 16px;
}
.catalog__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;

}
.catalog__cart-link {
  text-decoration: none;
  color:#000000;

}
.catalog__cart-link:focus {
  outline: none;
}
.catalog__price {
  color: #333333;
  display: flex;
  justify-content: space-between;
}
.catalog__item-name {
  margin: 0;
}
.catalog__item-price {
  margin: 0;
}
.catalog__buttons {
  display: flex;
  justify-content: center;
}
.catalog__item-button {
  padding: 8px 26px;

}
.catalog__item-detailed {
  margin-right: 20px;
}
.catalog__item-favorite {
  padding: 8px 18px;
}
.catalog__item-selected {
  padding: 8px 17px;
  background-color: #7DB54F;
}
.catalog__item-selected:hover {
  background-color: #6C9E42;
}
.catalog__item-selected:focus {
  background-color: #6C9E42;
  outline: none;
}



.catalog__rate {
  display: flex;
  justify-content: space-between;
}

.catalog__rating {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  color: #333333;
}
.catalog__item-stars {
  display: flex;
  align-items: center;
  margin: 0;
}
.star {
  margin-right: 6px;
  background: url(../images/star.png) no-repeat;

  width: 18px;
  height: 17px;
}
.paganation {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 60px;
  display: flex;
}
.paganation__item {
  margin-right: 8px;

}
.paganation__item:nth-last-child(1) {
  margin-right: 0;
}

.paganation__link {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  min-width: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.paganation__link--transporent {
  background-color: transparent;
  color:#000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 19px;
  padding-bottom: 15px;
}

.paganation__link:hover {
  background-color: #68A2CA;
}
.paganation__link:focus {
  outline: none;
  background-color: #68A2CA
}
.paganation__link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.paganation__link--current {
  background-color: #F2F2F2;
  color: #000000;
}


.catalog__mailing {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}
.mailing__heading {
  width:  405px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.socials__link {
  display: flex;
}

.socials__svg {
  fill: #83B3D3;
}
.socials__svg:hover {
  fill: #68A2CA;
}
.socials__svg:active {
  fill: rgba(104, 162, 202, 0.3);
}

.socials__link:focus .socials__svg {
  fill: #68A2CA;
}
.socials__link:focus {
  outline: none;
}

.page-footer__phone {
  color:#000000;
}
.page-footer__phone:hover {
  color:#756157;
}
.page-footer__phone:focus {
  color:#756157;
  outline: none;
}
.page-footer__phone:active {
  color: rgba(117, 97, 87, 0.3);
}


.page-footer__developer {
  fill:#000000;
  display: flex;
}
.page-footer__developer:hover{
  fill:#756157;
}
.page-footer__developer:focus{
  fill:#756157;
  outline: none;

}
.page-footer__developer:active{
  fill: rgba(117, 97, 87, 0.3);

}
